.btn-warning:hover {
    background-color: red;
}
h1 {
    background-color: aqua;
    width: 300px;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
canvas {
   animation-name:animation;
   animation-duration: 3s;
   animation-iteration-count: infinite;
}
@keyframes animation {
    from{box-shadow:1px 1px 34px blue; }
    to{box-shadow:1px 1px 34px purple; }
}